.conteiner-button-mode {
    height: 48px;
    width: 48px;
    border: none;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.light {
    transition: all 0.6s;
    background-color: var(--grey-002);
}

.dark {
    background-color: var(--grey-000);
    transition: all 0.6s;
}

.light:hover {
    background-color: var(--grey-001);
}

.dark:hover {
    background-color: var(--white);
}

.sun-icon,
.moon-icon {
    max-width: 60%;
}

.moon-icon {
    filter: invert();
    max-width: 45%;
}