:root {
    --white: #F9F9F9;
    --green: #9ACD07;
    --grey-001: #595959;
    --grey-002: #383838;
    --orange: #FF8E4E;
    --dark: rgb(36, 17, 52);
    --light: rgb(159, 78, 235);
    --font: 'DigitalFont'
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'DigitalFont';
    src: url('../src/assets/fonts/TypoDigitDemo-VG9lV.ttf') format('truetype');
}